<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
    .container {
      max-width: 470px;
      margin: 0 auto;
      text-align: center;
    }
    input, button {
      display: block;
      margin: 10px auto;
      width: 80%;
      height: 35px;
    }
    button {
      background-color: #4285F4;
      border: none;
      color: white;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="container">
      <input type="text" placeholder="Identifiant" name="username" required />
      <input type="number" placeholder="Contact Number" name="contact_num" required />
      <button type="submit" value="Login"><strong>Login</strong></button>
    </div>
  </form>
</body>
</html>

